{
  "extends": ["eslint-config-airbnb-base","plugin:inferno/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "inferno/prop-types": "off"
    }
}
