.bar {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-between;
  border-bottom:1pt solid grey;
  padding: 20px;

  a { color: inherit; }
  a:hover {
    transform: scale(1.1);
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
  }

  .left {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    .element {
      flex: 1;
    }
  }

  .center {
    flex: 2;
    display: flex;
    justify-content: center;
    .header {
      text-align: center;
      font-size: 2em;
    }
  }

  .right {
    flex: 2;
    display: flex;
    justify-content: flex-end;

    .element {
      text-align: right;
      flex: 1;
    }
  }
}
