.stop {
  margin: 10px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #FAFAFA;
  .icon {
    background-image: url('http://esq.h-cdn.co/assets/cm/15/06/54d3cdbba4f40_-_esq-01-bar-lgn.jpg');
    filter: sepia(1);

    background-size: cover;

    color: white;
    vertical-align: middle;

    width: 100%;
    height: 150px;
    border-radius: 5px;
    padding: 10px;
  }
  .icon:hover {
    cursor: pointer;
    transform: scale(1.02);
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;

  }

  .contact {
    margin-bottom: 10px;
  }

  .addToCrawl {
    width: 100%;
  }

}
